<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품 세부 정보</title>
</head>
<body>
<h1>제품 세부 정보</h1>
<div th:if="${product != null}">
    <p><strong>ID:</strong> <span th:text="${product.id}"></span></p>
    <p><strong>제품명:</strong> <span th:text="${product.productname}"></span></p>
    <p><strong>제품코드:</strong> <span th:text="${product.productcode}"></span></p>
    <p><strong>재고량:</strong> <span th:text="${product.count}"></span></p>
    <p><strong>제품가격:</strong> <span th:text="${product.price}"></span></p>
    <p><strong>제조업체:</strong> <span th:text="${product.makecompany.companyName}"></span></p>
    <p><strong>제조년도:</strong> <span th:text="${#temporals.format(product.makeday, 'yyyy-MM')}"></span></p>

    <!-- 수정 버튼 추가 (수정 페이지로 이동) -->
    <a th:href="@{'/product_edit/' + ${product.id}}">수정</a>
</div>
<div th:if="${product == null}">
    <p>해당 ID에 대한 제품이 없습니다.</p>
</div>
<a href="/product_list">뒤로 가기</a>
</body>
</html>
