<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회사 수정</title>
</head>
<body>
<h1>회사 수정</h1>
<form th:object="${company}" method="post" th:action="@{/company_edit_ok}">
    <input type="hidden" th:field="*{id}" />

    <p><strong>회사 이름:</strong> <input type="text" th:field="*{companyName}" /></p>
    <p><strong>회사 대표:</strong> <input type="text" th:field="*{companyVip}" /></p>
    <p><strong>거래처 연락처:</strong> <input type="text" th:field="*{companyTel}" /></p>
    <p><strong>상태:</strong> <input type="text" th:field="*{status}" /></p>
    <p><strong>미수금:</strong> <input type="text" th:field="*{moneyRecieve}" /></p>
    <p><strong>받은 돈:</strong> <input type="text" th:field="*{money}" /></p>

    <input type="submit" value="수정">
</form>
<a href="/company_list">뒤로 가기</a>
</body>
</html>
