<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회사 리스트</title>
</head>
<body>
<h1>회사 리스트</h1>
<table>
    <tr>
        <th>ID</th>
        <th>회사 이름</th>
        <th>회사 대표</th>
        <th>거래처 연락처</th>
        <th>상태</th>
        <th>미수금</th>
        <th>받은 돈</th>
    </tr>
    <tr th:each="company : ${companies}">
        <td th:text="${company.id}"></td>
        <td>
            <a th:text="${company.companyName}" th:href="@{'/company_memo/' + ${company.id}}"></a>
        </td>
        <td th:text="${company.companyVip}"></td>
        <td th:text="${company.companyTel}"></td>
        <td th:text="${company.status}"></td>
        <td th:text="${company.moneyRecieve}"></td>
        <td th:text="${company.money}"></td>
    </tr>
</table>
<a href="/company_add">회사 추가</a>
</body>
</html>
