<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 메타태그 및 스타일 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="quote-list">
<div class="quote-container">
    <h1>회사 리스트
        <a class="quote-button btn btn-primary" href="/company_add" role="button">회사 추가</a>
    </h1>
    <table class="quote-table table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>회사 이름</th>
            <th>회사 대표</th>
            <th>거래처 연락처</th>
            <th>상태(우리가보내주는 send=수주회사,recieve=발주회사로 표시)</th>
            <th>받을 돈</th>
            <th>입금액</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="company : ${companies}">
            <td th:text="${company.id}"></td>
            <td>
                <a th:text="${company.companyName}" th:href="@{'/company_memo/' + ${company.id}}"></a>
            </td>
            <td th:text="${company.companyVip}"></td>
            <td th:text="${company.companyTel}"></td>
            <td th:text="${company.status}"></td>
            <td th:text="${company.money}"></td>
            <td>
                <input type="text" id="paymentAmount" placeholder="입금액">
                <input type="hidden" id="companyId" th:value="${company.id}">
            </td>
            <td>
                <button onclick="sendPayment()">입금</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    function sendPayment() {
        var paymentAmount = document.getElementById("paymentAmount").value;
        var companyId = document.getElementById("companyId").value;

        // 입력값을 정수로 변환
        paymentAmount = parseInt(paymentAmount);

        var data = {
            paymentAmount: paymentAmount,
            companyId: companyId
        };

        $.ajax({
            url: "/ccc",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function(response) {
                alert("입금이 처리되었습니다.");
                location.reload(); // 페이지 새로고침
            },
            error: function() {
                alert("입금 처리 중 오류가 발생했습니다.");
            }
        });
    }
</script>
</body>
</html>
