<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기</title>
</head>
<body>
<h1>글쓰기</h1>
<form action="/problem_ok" method="post">
    <div>
        <label for="problemTitle">제목:</label>
        <input type="text" id="problemTitle" name="problemTitle" required>
    </div>
    <div>
        <label for="problemMemo">내용:</label>
        <textarea id="problemMemo" name="problemMemo" rows="4" required></textarea>
    </div>
    <button type="submit">저장</button>
</form>
</body>
</html>
