<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 리스트</title>
</head>
<body>
<h1>공지사항 리스트</h1>
<table>
    <tr>
        <th>ID</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
    </tr>
    <tr th:each="notice : ${notice}">
        <td th:text="${notice.id}"></td>
        <td>
            <a th:text="${notice.noticeTitle}" th:href="@{'/notice_memo/' + ${notice.id}}"></a>
        </td>
        <td th:text="${notice.writer}"></td>
        <td th:text="${notice.noticeCreatedTime}"></td>
    </tr>
</table>
<a href="/notice_add">글쓰기</a> <!-- 글쓰기 버튼 -->
</body>
</html>
