body.quote-list {
    font-family: Arial, sans-serif;
    position: relative;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.quote-container {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}



.quote-table {
    width: 100%;
    border-collapse: collapse;

}

.quote-table th, .quote-table td {
    border-bottom: 1px solid #dddddd;
    padding: 10px;
    text-align: center;
}

.quote-table th {
    background-color: #f0f0f0;
}

.quote-button {
    display: inline-block;
    position: absolute;
    top: 180px; /* 조정 필요 */
    right: 110px; /* 조정 필요 */
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #666666;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quote-button:hover {
    background-color: #333333;
}

.paymentAmount {
    width: 80px;
    padding: 5px;
    margin-right: 10px;
}

.sendPayment {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.sendPayment:hover {
    background-color: #218838;
}